/* Main */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



/* Products */

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 32px;
    margin-top: 0;
}

li {
    margin-right: 20px;
    margin-bottom: 20px;
    flex-basis: calc(33.33% - 20px);
}

h3 {
    font-size: 24px;
    margin-top: 0;
}

img {
    max-width: 300px;
    height: 200px;
    margin-bottom: 10px;
}



/* Cart */

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #dddddd; 
}



/* Checkout */

section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}



/* Greetings */

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

h1 {
    color: #008000;
    font-size: 2.5em;
    text-align: center;
    margin-top: 50px;
}

p {
    color: #333;
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
}